<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="log.file.name">xenvironment</Property>
  </Properties>
  <Appenders>
    <XstRollingRandomAccessFile name="XENVIRONMENT.file" fileName="${sys:user.dir}/../xstoredata/environment/log/${sys:log.file.name}.log"
      filePattern="${sys:user.dir}/../xstoredata/environment/log/${sys:log.file.name}.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="@%12.12thread %-5level %date %msg :: %c [%thread]%n" header="**LOG BEGUN       %date%nloading ${log4j:configLocation}%n"
        footer="**LOG STOPPED     %date%n" />
      <DefaultRolloverStrategy max="14" />
      <Policies>
        <TimeBasedTriggeringPolicy />
        <OnStartupTriggeringPolicy />
      </Policies>
    </XstRollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <logger name="dtv.data2.access.query.QueryFactory" level="warn"/>
    <Logger name="org.springframework" level="warn" />

    <Root level="info">
      <AppenderRef ref="XENVIRONMENT.file" />
    </Root>
  </Loggers>
</Configuration>
